.line-item {
	border-bottom:1px solid #ddd;

	p {
		margin:.2rem auto;
		padding-bottom:.2rem;

	}
}

#steps {
	text-align: center;
	a {
		color:#ddd;

	}

	a.current {
		color: #555;
	}
}

#checkout .panel {
	@include center-text;
}