.product-filter {
	section {
		border-top: 1px solid #ddd;
		padding-top:.5rem;

		ul li a{
			display: block;
			background: #eee;
			padding: .5rem;
			margin: .2rem;

			&:before {
				content: "\2610" ;
			}
			&.selected {
				background:#ddd;

				&:before {
					content: "\2611" ;
				}
			}
			&.loading {
				background: #eee url(loading.gif)  .5rem center no-repeat;
				&:before {
					visibility: hidden;
				}
			}			
		}
	}
}

a.clear-selection {
	color: #fff;
	display: block;
	text-align: center;
}

.product-entry {
	border-bottom: 1px solid #ddd;
	padding: 2.5rem 0;
}


#product-image-strip {
	margin-top:1rem;
}

.product.row {
	margin-bottom: 2rem;
	border-bottom: 1px solid #eee;
	padding-bottom: 1em;

	.small-4 {
		border-left: 1px solid #eee;
	}
}

section.actions {
	p {
		margin-bottom:0;
	}
}


#sidebar {
	background:#999;
}